*{
    margin:0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
}
body{
    background: #151D5E;
    color:white;
}
.navbar{
    width:100%;
    height: 75px;
    align-items: center;
    background: #151D5E;
    position: fixed;
    top:0
}
.navbar .logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    float: left;
    line-height: 75px;
    padding-left: 75px;
}
.navbar .nav-links{
    float:right;
    line-height: 75px;
    padding-right: 75px;
}
.navbar .nav-links li{
    list-style: none;
    display: inline-block;
}
.navbar .nav-links a{
    color:#F08080;
    letter-spacing: 3px;
    font-size: 15px;
    text-decoration: none;
    padding:0 20px;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width:100%
}

#home button{
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #F08080;
    border-radius:5px;
    padding: 5px;
    transition: 0.5s;
    text-transform: uppercase;
}
#home button:hover{
    background-color: #F08080;
    color: #151D5E
}
#home{
    text-align: left;
    text-transform: uppercase;
        
}
#home h2{
    color:#F08080;
    letter-spacing: 10px;
    font-size:60px;
}
#home h1{
    font-size: 80px;
    letter-spacing: 10px;
    padding-bottom: 25px;
 }
 #home p{
    font-size: 25px;
    color:#F08080;
    letter-spacing: 10px;
    padding-bottom: 30px;
 }

 #projects h2{
    font-size:60px;
    color:#F08080;
    letter-spacing: 5px;
 }


 .cards{
    padding-top:50px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }
 
 
 .card{
    position: relative;
    width: 400px;
    height: 250px;
    background: #404040;
    margin: 30px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    border-radius: 4px;
    transition: 0.5s ease-in-out;
 }
 
 .cards .card:hover{
    height:450px;
 }

 .card .image-box{
     position: relative;
     width: 350px;
     height: 350px;
     top: -20%;
     margin: auto;
     z-index: 1;
     box-shadow: 0 5px 20px rgba(0,0,0,0.5);
     
 }
 .card .image-box img{
    width: 100%;
    height: 350px;
    border-radius: 4px;
    object-fit: cover;
 }

.card .description{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.card .description p{
    padding-top: 15px;
    padding-bottom: 25px;
}
.cards .card:hover .description{
    margin-top: -80px;
    opacity:1;
}

 .description .button{
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    color:#F08080;
    padding: 10px;
    border: 2px solid #F08080;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.5s;
    background:none;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    
 }

 .description .button:hover{
    background:#F08080;
    color:#404040;
 }

 .cards a{
    letter-spacing: 2px;
    font-size: 13px;
    text-decoration: none;
    border-radius:5px;
    padding: 5px;
    transition: 0.5s;
    text-transform: uppercase;
    
 }
 .cards .links{
    float: right;
    padding-bottom: 5px;
    margin-left: 290px;
}
#stats .links{
    margin-left: 250px;
}

.links img{
    padding-left: 10px;
}



.modal{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index:10;
    background-color:#333333;
    width:1100px;
    height: 600px;
    transition: 200ms ease-in-out;
    display: flex;
    border-radius: 10px;
    
 }

 .modal-image{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .modal-image img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
    object-fit: cover;
 }
 .modal-description{
    height: 550px;
    width: 550px;
    font-size:17px;
    line-height: 23px;
 }
 .modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 20px;
 }
 .modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
 }
 .modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    color:white;
 }
 
 .modal-tech{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
}
 .modal-tech p{
    border: 2px solid #4d4d4d;
    text-align: center;
    font-size:17px;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background:#1a1a1a;
 }
 .modal-body .about{
    text-align:left;
    word-wrap: break-word;
    height:415px;
    overflow-y: scroll;
 }

  .modal-body .about::-webkit-scrollbar{
    width: 0.4vw;
  }
  .modal-body .about::-webkit-scrollbar-thumb{
    background-color: #4d4d4d;
  }
  .modal-body .about::-webkit-scrollbar-thumb:hover{
    background-color: white;
  }

  .modal-body .about::-webkit-scrollbar-track{
    background-color: #333333
  }


 .modal-body button{
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    border-radius:5px;
    padding: 5px;
    text-transform: uppercase;
    transition: 0.5s;
 }
 .modal-body a{
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    border-radius:5px;
    padding: 8px;
    text-transform: uppercase;
    transition: 0.5s;
 }
 .modal-body button img{
    
    padding-right:10px;
 }
 .modal-body a img{
    padding-top: 4px;
    padding-right:10px;
 }

 .modal-body .available-button:hover{
    background-color: #F08080;
    color:#333333
}

.available-button{
    color:#F08080;
    background: none;
    border: 2px solid #F08080;
}
.unavailable-button{
    background-color: #1a1a1a;
    color: #4d4d4d;
    border: 2px solid black;
}

 .modal-body .buttons{
    padding-top:15px;
    display:flex;
 }

 .modal-body .buttons div{
    padding-left:15px;
 }
 #overlay{
    position:fixed;
    opacity: 1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    transition: 200ms ease-in-out;
    z-index:10;
 }

.social-media {
    padding-top: 50px;
    display: flex;
}
.social-media div{
    padding-left: 10px;
}

.email{
    opacity: 0;
    height: 40px;
    width: 50px;
    position: absolute;
    transition: 0.2s
}
.email h5{
    font-size: 17px;
    padding-left: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: lowercase;
    padding-top: 13px;
}

.email:hover{
    width: 350px; 
    opacity: 1;

}